<!-- _error_messages.html.erb パーシャルに追加します -->
<% if model.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(model.errors.count, "エラー") %>が発生しました:</h2>
    <ul>
      <% model.errors.each do |attribute, message| %>
        <li><%= "#{model.class.human_attribute_name(attribute)} #{message}" %></li>
      <% end %>
    </ul>
  </div>
<% end %>

